lib/WebserverConfig.h
LinuxMain/libWebserver.so
LinuxMain/a.out
LinuxMain/libWebserver_gold.so
LinuxMain/libWebserver_lto.so
LinuxMain/libWebserver_ltog.so
LinuxMain/main
LinuxMain/main.o
lib/lib/
lib/obj/

testSite/src/webserver_api_functions.c.list
testSite/src/websocket_api.c.list
testSite/src/test_plugin.so
testSite/src/testfunktions.o
testSite/src/var_test.o
testSite/src/webserver_api_functions.o
testSite/src/websocket_api.o

old_afl-1.94b/
afl-2.10b/
afl-latest.tgz

tools/__pycache__/
tools/data/

fuzzing/__pycache__/
fuzzing/parse_header/main.afl.clang
fuzzing/parse_header/main.gcc
fuzzing/parse_line/main.afl.clang
fuzzing/parse_line/main.gcc
fuzzing/url_decode/main.afl.gcc
fuzzing/parse_header/main.clang
fuzzing/parse_header/main.clang.lto
fuzzing/parse_header/main.gcc.lto
fuzzing/url_decode/main.afl.clang
fuzzing/url_decode/main.clang
fuzzing/url_decode/main.clang.lto
fuzzing/url_decode/main.gcc
fuzzing/url_decode/main.gcc.lto

tests/parse_header/main.gcc
tests/url_decode/main.gcc

Docker/*.pem
Docker/libWebserver.so
Docker/main
Docker/testSite/
